* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}

.intro {
    display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
}

.explain {
  position: relative;
  align-items: center;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #505050;
}

#baby {
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 50px;
  align-content: center;
  filter: opacity(60%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 8px;
}

#textbox {
  border-radius: 5px;
  width: 25%;
}

.weatherLink {
  text-decoration: none;
  color: pink;
  font-weight: bold;
}

.topBar {
  margin-top: -9px;
  padding-top: 7px;
  background-color: white;
  margin-left: -9px;
  padding-left: 7px;
  margin-right: -9px;
  padding-right: 7px;
}

#go {
  border-radius: 5px;
  background-color: #FFFF99;
}

.clothesLink {
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Weather {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 2;
}

.Welcome {
  background-image: url("./blue_storm.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  height: 600px;
  width: 100%;
   text-shadow:
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
 -webkit-font-smoothing: antialiased;

}

#opener {
  font-size: 150px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#hours {
  padding-bottom: 20px;
}

#sidebar {
  position: absolute;
  bottom: 0;
  width: 25%;
  font-size: 20px;
  padding-bottom: 10px;
}

.forecast {
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 10px;
}

#alert {
  font-size: 15px;
}

.zip {
  font-size: 15px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  margin-top: 100px;
}

.flex-item {
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  text-align: justify;
  background-color: cornflowerblue;
  width: 200px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  #opener {
    font-size: 30px;
  }

  .weatherLink {
    font-size: 10px;
  }

  .flex-item{
    height: 375px;
    border-radius: 0;
  }

  td {
    width: 30%;
    background-color: blue;
  }

  #sidebar {
    visibility: hidden;
  }

  .week {
    margin: 0;
    padding: 0;
  }

  .Welcome {
    background-image: url("./blue_storm.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    height: 200px;
    width: 100%;
     text-shadow:
         -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
         1px 1px 0 #000;
   -webkit-font-smoothing: antialiased;

  }
}

.col {
  width: 10%;
}

#coldGuy {
  height: 5%;
}
