* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 8px;
}

#textbox {
  border-radius: 5px;
  width: 25%;
}

.weatherLink {
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  color: pink;
}

.topBar {
  margin-top: -9px;
  padding-top: 7px;
  background-color: white;
  margin-left: -9px;
  padding-left: 7px;
  margin-right: -9px;
  padding-right: 7px;
}

#go {
  border-radius: 5px;
  background-color: #FFFF99;
}

.clothesLink {
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Weather {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 2;
}

.clothes {
  padding-top: 20px;
  padding-left: 20px;
  background-image: url("./rain.jpg");
  height: 600px;
  color: white;
}

.Welcome {
  background-image: url("./storm.jpg");
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
  height: 600px;
  width: 100%;
}

#opener {
  font-size: 150px;
  padding-bottom: 30px;
}

#sidebar {
  position: absolute;
  bottom: 0;
  width: 25%;
  font-size: 10px;
  padding-bottom: 10px;
}

.forecast {
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 10px;
}

#alert {
  font-size: 15px;
}

.zip {
  font-size: 15px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  margin-top: 100px;
}

.flex-item {
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  text-align: justify;
  background-color: cornflowerblue;
  width: 200px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  #opener {
    font-size: 20px;
  }

  .flex-item{
    height: 375px;
    border-radius: 0;
  }

  .col {
    width: 20%;
  }

  .week {
    margin: 0;
    padding: 0;
  }
}

.col {
  width: 10%;
}
